@media screen and (max-width: 64rem) {
  .logo {
    width: 60%;
  }

  .nav-item {
    display: none;
  }

  header main,
  .section-1,
  .section-2,
  .section-6,
  .content {
    flex-direction: column;
    justify-content: center;
  }

  .section-6 h1 {
    margin-top: 3rem;
  }

  .section-6 button {
    margin: 3rem 0;
  }

  .footer .link-boxes .box {
    display: none;
  }

  .footer .link-boxes .box:last-of-type {
    display: block;
  }

  .logo-details .logo {
    width: 80%;
  }
}
